extend layout.pug
block content
	.intro-BG.intro-aboutus
		.container
			.col-md-5
				h1 About The CryptoCAD Website
				h2
					| A Simple Live Price Panel For CryptoCurrencies From International
					| Exchanges
	section.container
		h2 All About CryptoCad
		h3 History
		p
			| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste ab nemo
			| ipsum excepturi provident possimus distinctio aliquid, nostrum sint
			| quis!
		h3 What does CryptoCad do
		p
			| Lorem ipsum dolor sit amet consectetur adipisicing elit. At mollitia
			| natus dicta rerum, labore, cumque quae officia necessitatibus eaque
			| dignissimos obcaecati amet, repellat dolorem quia neque quos quisquam!
			| Voluptatum, temporibus?
	section#sec2
		h2 People
		p
			| Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
			| consequatur eum in labore voluptates cum voluptas omnis aspernatur nemo
			| optio sed porro laudantium incidunt eius quo vitae iste corporis magnam!
		| no paragraph test
		