nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo03' aria-controls='navbarTogglerDemo03' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarTogglerDemo03.collapse.navbar-collapse
        ul.navbar-nav.mr-auto.mt-2.mt-lg-0
            a.navbar-brand(href='#')
                img(src='assets/img/cryptocad-logo-bg-70.png' height='32')
            li.nav-item.active
                a.nav-link(href='/') Home
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href='/about') About
            li.nav-item
                a.nav-link(href='/login') Login
